<footer class="site-footer">
    
      <div class="wrapper">
    
        <h2 class="footer-heading">{{ escape }}</h2>
          <div class="footer-row footer-row-1">
            <ul class="social-media-list">
              <li>
                {% include icon-github.html username=site.github_username %}
                {% include icon-linkedin.html username=site.linkedin_username %}
              </li>
            </ul>
          </div>
          <div class="footer-row footer-row-1">
            <p>{{ site.description | escape }}</p>
          </div>
        </div>
    
      </div>
    
    </footer>