<footer class="site-footer">
    
      <div class="wrapper">
    
        <h2 class="footer-heading">{{ escape }}</h2>
          <div class="footer-row footer-row-1">
            <p class="social-media-list">
                {% if site.github_username %}
                  {% include icon-github.html username=site.github_username show-text=false %}
                {% endif %}
                {% if site.linkedin_username %}
                  {% include icon-linkedin.html username=site.linkedin_username %}
                {% endif %}
                {% if site.email %}
                  {% include icon-email.html username=site.email %}
                {% endif %}
            </p>
          </div>
          <div class="footer-row footer-row-1">
            <p>{{ site.description | escape }}</p>
          </div>
        </div>
    
      </div>
    
    </footer>