---
layout: page
---
<div class="portfolio">
    
      {{ content }}

      <ul class="portfolio-list">
        {% for post in site.projects %}
          <li>
            {% assign date_format = "%Y" %}
            <span class="portfolio-meta">{{ post.date | date: date_format }}</span>
            <h2 class="portfolio-content">
              <a class="portfolio-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              <p class="portfolio-tags" href="">
              {% for tag in post.tags %}
                {{ tag }}
              {% endfor %}
              </p>
              {{ post.excerpt }}
              <!-- {% assign image = post.images[0] %}
              {% include image.html image=image %} -->
            </h2>
          </li>
        {% endfor %}
      </ul>
    
</div>